<div class="checkBox" id="{$cb_id}_cbox" iname="{$cb_input}">
	{foreach item=item key=key from=$cb_value}
	<div class="input">
		<div class="box{if $item.checked} checked{/if}" gid="{$key}"></div><div class="label" gid="{$key}">{$item.name}</div>
		{if $item.checked}<input type="hidden" name="{$cb_input}{if $cb_count > 1}[]{/if}" value="{$key}" />{/if}
	</div>
	{/foreach}
</div>
