<div class="stat-block">
	<div class="inside">
		{l i='today_on_site' gid='start'}: {foreach item=item from=$stat}{$item.count} {$item.object_name}{if !$item.last},{/if} {/foreach}
	</div>
</div>	