#contact_form .r .v input[type="text"], #contact_form .r .v input[type="password"], #contact_form .r .v textarea, #contact_form .r .v select{margin-right: -1px; margin-left: 1px;}
.tabs, .tabs2{margin-right: -1px; margin-left: 1px;}
.tabs ul li, .tabs2 ul li{margin-right: 1px; margin-left: 1px;}
.photo-view .slider{margin-right: -1px; margin-left: 1px;}
.search-form.line input[type="text"]{margin-right: 1px;}
.search-form.line span{display: inline;  padding: 7px 0 6px 30px;}
img{margin-right: -1px; margin-left: 1px;}
