{if !$geomap_js_loaded}
<script src="http://api-maps.yandex.ru/2.0/?load=package.full&mode=debug&lang=ru-RU"></script>
{js module=geomap file='yandexmapsv2.js'}
{/if}
<script>{literal}
	var geocoder;
	ymaps.ready(function(){
		geocoder = new YandexMapsv2_Geocoder({});
	});
});
{/literal}</script>
