.news{padding: 30px 0 20px;}
.news:nth-child(2){padding-top: 10px;}
.news h3{margin: 2px 0 12px;}
.news .date{font-size: 11px;}
.news .annotation{}
.news .annotation img{margin: 5px;}
.news .links{text-align: left;}
