<div class="content-block load_content">
	<h1>{l i='header_reviews_form' gid='reviews'}</h1>
	<div class="inside edit_block">
		{include file="review_form.tpl" module="reviews" theme="index"}
	</div>
</div>
