.select-options ul{padding: 4px 0; margin: 0; padding-bottom: 10px;}
.select-options ul li{padding: 5px; padding-right: 20px; border: solid 1px #29b43d; list-style: none; margin: 2px 0; background: #f7fff8;}
.select-options ul li:hover{cursor: move; background: #f6e4a0;}
.select-options ul li .icons{float: left;}
.select-options ul li.limiter{border: dashed 1px #888888;}

.type_text{}
.type_section{border: solid 1px #e5e5e5 !important; background: #f2f2f2 !important;}

div.field_type{width: 70px; float: right; color: #aaaaaa; font-weight: bold;}
