{if ($promo.content_type eq 't' && ($promo.promo_image || $promo.promo_text) ) || ($promo.content_type eq 'f' && $promo.promo_flash)}
{if $promo.block_width > 980 && $promo.block_width_unit eq 'px' && $promo.block_height eq 440 && $promo.block_height_unit eq 'px'}
<div class="promo-block-wrapper">
<div class="promo-block-wrapper2">
<div class="promo-block-wrapper3">
<div class="promo-block-wrapper4">
{/if}
<div class="promo-block" {if $promo.style_str}style="{$promo.style_str}"{/if}>
{if $promo.content_type eq 't'}

{if $promo.block_width > 980 && $promo.block_width_unit eq 'px' && $promo.block_height eq 440 && $promo.block_height_unit eq 'px'}
<div class="inside-wrapper">
{/if}

<div class="inside"><div class="panel">{$promo.promo_text}</div><div class="background"></div></div>

{if $promo.block_width > 980 && $promo.block_width_unit eq 'px' && $promo.block_height eq 440 && $promo.block_height_unit eq 'px'}
</div>
{/if}

{/if}
{if $promo.content_type eq 'f'}
<object width="100%" height="100%" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000">
<param value="Always" name="allowScriptAccess">
<param value="{$promo.media.promo_flash.file_url}" name="movie">
<param value="false" name="menu">
<param value="high" name="quality">
<param value="opaque" name="wmode">
<param value="" name="flashvars">
<embed width="100%" height="100%" pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" swliveconnect="FALSE" menu="false" wmode="opaque" allowscriptaccess="Always" quality="high" flashvars="" src="{$promo.media.promo_flash.file_url}"> 
</object>
{/if}
</div>

{if $promo.block_width > 980 && $promo.block_width_unit eq 'px' && $promo.block_height eq 440 && $promo.block_height_unit eq 'px'}
<div class="gradient_wrapper">
	<div class="gradient_wrapper2">
		<div class="gradient">
			<div class="gradient-l"></div>
			<div class="gradient-r"></div>
		</div>
	</div>
</div>
</div>
</div>
</div>
</div>
{/if}
{/if}
