input[type=text], textarea{width: 98%;}
#menu_items {margin: 5px 0;}
#menu_items ul{padding: 4px 0; margin: 0; padding-bottom: 10px;}
#menu_items ul li{padding: 5px; padding-left: 20px; border: solid 1px #29b43d; list-style: none; margin: 2px 0px; background: #f7fff8;}
#menu_items ul li:hover{cursor: move; background: #f6e4a0;}
#menu_items ul li .icons{float: right;}

#menu_items ul li.limiter{border: dashed 1px #888888;}
