<h3>Installing: {$module.install_name} V{$module.version}</h3>
<div>{$module.install_descr}</div>
<br>
<div class="bar-level2" id="module_bar"><div class="bar" style="width: {$current_module_percent}%">{$current_module_percent}%</div></div>

<script>
{literal}$(function(){{/literal}
	product_install.delayed_request('{$next_step}', 300);
{literal}});{/literal}
</script>